<div class="card my-5">
  <div class="card-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text"
               class="form-control"
               id="username"
               name="username"
               placeholder="Enter your username"
               formControlName="username"
               (click)="loginFailed=false">
      </div>
      @if (username.invalid && username.touched) {
      <div class="alert alert-danger">Username is required</div>
      }
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text"
               class="form-control"
               id="password"
               name="password"
               placeholder="Enter your password"
               formControlName="password"
               (click)="loginFailed=false">
      </div>
      @if (password.invalid && password.touched) {
      <div class="alert alert-danger">Password is required</div>
      }
      <button type="submit" [disabled]="!loginForm.valid"
              class="btn btn-info">Submit</button>
      @if (loginFailed) {
      <div class="alert alert-danger">Incorrect username or password</div>
      }
    </form>
  </div>
</div>
