<div class="add-media-container">
    @if (mediaType === 'FILM') {
        <h2>Add Movie</h2>
    }@else if (mediaType === 'TV_SHOW') {
        <h2>Add TV Show</h2>
    }

    <div class="search-bar">
        <input type="text" class="search-input" [formControl]="query" placeholder="Search for a movie or TV show..." (keyup.enter)="onSearch()" />
        <button class="btn btn-primary search-button" (click)="onSearch()">Search</button>
    </div>

    @if (mediaResults.length === 0) {
        <div class="empty-results">
            <p>No results found. Try searching for something else.</p>
        </div>
    } @else {
        <div class="media-results">
            @for (media of mediaResults; track media.id) {
                <div class="media-card">
                    @if (media.poster_path) {
                        <img class="media-poster" [src]="getPosterUrl(media.poster_path)" alt="{{ isMovieSearchResult(media) ? media.title : media.name }}" />
                    } @else {
                        <div class="placeholder-poster">No Image</div>
                    }

                    <div class="media-details">
                        <h3 class="media-title">{{ isMovieSearchResult(media) ? media.title : media.name }}</h3>

                        @if (isMovieSearchResult(media) && media.release_date) {
                            <p class="media-date">Release Date: {{ media.release_date }}</p>
                        } @else if (isTVShowSearchResult(media) && media.first_air_date) {
                            <p class="media-date">First Air Date: {{ media.first_air_date }}</p>
                        }

                        <button class="btn btn-success add-button" (click)="addMediaToRanking(media.id)">Add to Ranking</button>
                    </div>
                </div>
            }
        </div>
    }

    <button class="btn btn-secondary back-button" (click)="goToMediaList()">Back to List</button>
</div>

