<div class="container-fluid d-flex justify-content-evenly align-items-center bg-dark text-white py-5">
  <h2>
    Your Rankings
  </h2>
  <a class="btn btn-primary btn-lg" (click)="goToCreateRanking()">
    Create New Ranking
  </a>
</div>
<div class="container align-items-center">
  @for (ranking of rankings; track ranking.id) {
    <div class="card" (click)="goToMediaList(ranking.id)">
      <!--<div class="card-header">
        {{ranking.title}}
      </div>-->
      <div class="card-body">
        <h5 class="card-title">
          {{ranking.title}}
        </h5>
        <p class="card-text">
          {{ranking.description}}
        </p>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="$event.stopPropagation()">
          ...
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="$event.stopPropagation(); deleteRanking(ranking.id)">Delete Ranking List</a>
        </div>
      </div>
    </div>
  }
</div>
