<form [formGroup]="rankingForm">
    <div class="form-group">
        <label for="title">Title</label>
        @if(isEditMode) {
        <input type="text" class="form-control" id="title" name="title" placeholder="Example: My top 20 horror films!"
            formControlName="title">
        } @else {
        {{ranking?.title}}
        }
        @if (title.touched && title.hasError('required')) {
        <div class="alert alert-danger">Title is required</div>
        }
        @if (title.touched && (title.hasError('maxlength') || title.hasError('minlength'))) {
        <div class="alert alert-danger">Ranking title must be between 1-30 chars</div>
        }

        <div class="form-group">
            <label for="description">Description</label>
            @if(isEditMode) {
            <input type="text" class="form-control" id="description" name="description"
                placeholder="This is a list of my top 20 horror films that I have seen in the last decade"
                formControlName="description">
            } @else {
            {{ranking?.description}}
            }
        </div>
        @if (description.touched && description.hasError('required')) {
        <div class="alert alert-danger">Ranking description is required.</div>
        }
        @if (description.touched && (description.hasError('minlength') || description.hasError('maxlength'))) {
        <div class="alert alert-danger">Ranking description must be between 1 and 150 chars.</div>
        }

    </div>
</form>

<!---
<h3>Title:
    @if(!isEditMode) {
        {{ranking?.title}}
    } @else {
        <input type="text" formControlName="title" [formControl]="rankingForm.get('title')"/>
    }
</h3>
<h3>Desc: {{ranking?.description}}</h3>
<p>Media type: {{mediaType}}</p>-->
<!--@if(mediaType == 'FILMS') {-->
<div class="media-list-container" cdkDropList [cdkDropListData]=mediaListEntries (cdkDropListDropped)="drop($event)">
    @for(mediaListEntry of mediaListEntries; track mediaListEntry.ranking) {
    @if(isMovieEntry(mediaListEntry)) {
    <div class="card" [cdkDragDisabled]="!isEditMode" cdkDrag>
        <div class="card-body">
            @if(mediaListEntry.poster_path) {
            <div class="card-image">
                <img [src]="getPosterUrl(mediaListEntry.poster_path)" alt="Poster for {{mediaListEntry.title}}"/>
            </div>
            }
            <div class="card-title">
                Title: {{mediaListEntry.title}}
            </div>
            <div class="card-text">
                Release Date: {{mediaListEntry.release_date}}
            </div>
            <div class="card-text">
                Ranking: {{mediaListEntry.ranking}}
            </div>
            @if(isEditMode) {
            <a class="btn-primary" (click)="removeEntry(mediaListEntry.id)">
                Remove Ranking
            </a>
            }
        </div>
    </div>
    } @else if (isTVShowEntry(mediaListEntry)) {
    <div class="card" [cdkDragDisabled]="!isEditMode" cdkDrag>
        <div class="card-body">
            @if(mediaListEntry.poster_path) {
            <div class="card-image">
                <img [src]="getPosterUrl(mediaListEntry.poster_path)" alt="Poster for {{mediaListEntry.name}}"/>
            </div>
            }
            <div class="card-title">
                Name: {{mediaListEntry.name}}
            </div>
            <div class="card-text">
                First Air Date: {{mediaListEntry.first_air_date}}
            </div>
            <div class="card-text">
                Last Air Date: {{mediaListEntry.last_air_date}}
            </div>
            <div class="card-text">
                Number of seasons: {{mediaListEntry.number_of_seasons}}
            </div>
            <div class="card-text">
                Number of episodes: {{mediaListEntry.number_of_episodes}}
            </div>
            <div class="card-text">
                Ranking: {{mediaListEntry.ranking}}
            </div>
            @if(isEditMode) {
            <a class="btn-primary" (click)="removeEntry(mediaListEntry.id)">
                Remove Ranking
            </a>
            }
        </div>
    </div>
    }
    }
</div>
<a class="btn btn-primary btn-lg" (click)="goToAddMedia()">
    Add Ranking
</a>
<button class="btn btn-primary" (click)="toggleEditMode()">
    {{ isEditMode ? 'Lock List' : 'Edit List' }}
</button>
<!--}-->