<div class="media-list-container">
    @if (mediaListEntries.length === 0) {
        <div class="empty-list-container">
            <h3>Your media list is empty</h3>
        </div>
    } @else {
        <div class="media-list" cdkDropList [cdkDropListData]="mediaListEntries" (cdkDropListDropped)="drop($event)">
            @for(mediaListEntry of mediaListEntries; track mediaListEntry.ranking) {
                <div class="media-item" [cdkDragDisabled]="!isEditMode" cdkDrag>
                    <div class="ranking-number">#{{ mediaListEntry.ranking }}</div>
                    @if (mediaListEntry.poster_path) {
                        <div class="media-poster">
                            <img [src]="getPosterUrl(mediaListEntry.poster_path)" 
                                alt="Poster for {{isMovieEntry(mediaListEntry) ? mediaListEntry.title : mediaListEntry.name}}" />
                        </div>
                    }
                    <div class="media-details">
                        <h5 class="media-title">
                            {{ isMovieEntry(mediaListEntry) ? mediaListEntry.title : mediaListEntry.name }}
                        </h5>
                        <p class="media-meta">
                            @if (isMovieEntry(mediaListEntry)) {
                                Release Date: {{ mediaListEntry.release_date }}
                            } @else {
                                Seasons: {{ mediaListEntry.number_of_seasons }} | Episodes: {{ mediaListEntry.number_of_episodes }}
                            }
                        </p>
                    </div>
                    @if (isEditMode) {
                        <button class="remove-btn" (click)="removeEntry(mediaListEntry.id)">Remove</button>
                    }
                </div>
            }
        </div>
    }
    <div class="list-actions">
        <a class="btn btn-primary btn-lg" (click)="goToAddMedia()">Add Ranking</a>
        <button class="btn btn-primary" (click)="toggleEditMode()">
            {{ isEditMode ? 'Lock List' : 'Edit List' }}
        </button>
    </div>
</div>