.navbar {
    border-bottom: 2px solid #444;
}
.navbar-nav .nav-link.create-ranking {
    background-color: rgb(2, 2, 128);
    color: white !important;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
}
