<div class="card my-5">
  <div class="card-body">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Name</label>
        <input type="text"
               class="form-control"
               id="username"
               name="name"
               placeholder="Enter your name"
               formControlName="username">
      </div>
      <div @if (usernameControl.invalid && usernameControl.touched) class="alert alert-danger">Name is required</div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text"
               class="form-control"
               id="email"
               name="email"
               placeholder="Enter your email address"
               formControlName="email">
        <div @if (emailControl.invalid && emailControl.touched) class="alert alert-danger">Email is required</div>
      </div>
      <button type="submit" [disabled]="!userForm.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>

