<div class="d-flex justify-content-center border-bottom border-secondary-subtle" style="height: 70%;">
  <div class="card my-5 border border-1" style="width: 40rem; height: 70%">
    <div class="card-body">
      <h1 class="card-title fw-medium">Create Account</h1>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <label for="username" class="fw-medium">Username</label>
          <input type="text" class="form-control border border-2" id="username" name="username" placeholder="Enter your username"
            formControlName="username" (input)="resetUsernameTaken()">
          @if (username.touched && username.hasError('required')) {
          <div class="alert alert-danger">Username is required</div>
          }
          @if (username.touched && username.hasError('maxlength')) {
          <div class="alert alert-danger">Max length of a username is 30 characters</div>
          }
        </div>
        <div class="form-group mb-3">
          <label for="password" class="fw-medium">Password</label>
          <input type="password" class="form-control border border-2" id="password" name="password" placeholder="Enter your password"
            formControlName="password">
          @if (password.invalid && password.touched) {
          <div class="alert alert-danger">
            Password must be between 8-64 characters
            and contain at least one of each of the following: One lower case character.
            One upper case character. One special symbol.
          </div>
          }
        </div>
        <div class="form-group mb-3">
          <label for="verifypassword" class="fw-medium">Re-enter Password</label>
          <input type="password" class="form-control border border-2" id="verifypassword" name="verifypassword" placeholder="Re-enter password"
            formControlName="verifypassword">
        </div>
        @if (passwordsDoNotMatch) {
          <div class="alert alert-danger">Passwords do not match.</div>
        }
        <div class="d-flex justify-content-center">
          <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary btn-lg">Create Account</button>
        </div>
        @if (isUsernameTaken) {
          <div class="alert alert-danger">Username is already taken</div>
        }
      </form>
    </div>
  </div>
</div>