<div class="card my-5">
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text"
               class="form-control"
               id="username"
               name="username"
               placeholder="Enter your username"
               formControlName="username"
               click="usernameTaken=false">
      </div>
      @if (username.touched && username.hasError('required')) {
      <div class="alert alert-danger">Username is required</div>
      }
      @if (username.touched && username.hasError('maxlength')) {
      <div class="alert alert-danger">Max length of a username is 30 characters</div>
      }

      <div class="form-group">
        <label for="password">Password</label>
        <input type="text"
               class="form-control"
               id="password"
               name="password"
               placeholder="Enter your password"
               formControlName="password"
               click="usernameTaken=false">
      </div>
      @if (password.invalid && password.touched) {
      <div class="alert alert-danger">
        Password must be between 8-64 characters
        and contain at least one of each of the following: One lower case character.
        One upper case character. One special symbol.
      </div>
      }
      <button type="submit" [disabled]="!registerForm.valid"
              class="btn btn-info">Submit</button>
      @if (usernameTaken) {
        <div class="alert alert-danger">Username is already taken</div>
      }
    </form>
  </div>
</div>
